
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mainbar">
    <!-- Page heading -->
    <div class="page-head">
        <h2 class="pull-left">List View</h2>

        <div class="clearfix"></div>


        <div class="clearfix"></div>

    </div>
</div>
